:root {
  color-scheme: dark;

  --main-bg-color: #070606;

  --main-text-color: #f5f4eb;
  /* --main-text-color: #faecd8; */
  --alt-text-color: #f1f1c1;
  --subtle-text-color: #413e3e;
  --highlight-text-color: #c95ddf;
}

html {
  font-size: 62.5%;
  background-color: var(--main-bg-color);
}

/* #top-container {
  display: block;
  height: auto;
} */

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  color: var(--main-text-color);
}

/* header {
} */

a {
  color: var(--main-bg-value-3)
}

.sourceCode {
  color: var(--alt-text-color);
}

nav {
  font-size: 1.2;
  text-align: right;
}

nav a {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--main-text-color);
  text-decoration: none;
  text-transform: uppercase;
}

footer a {
  margin: 0 0.5rem;
}

footer {
  width: 60rem;
  margin-top: 3rem;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  color: var(--subtle-text-color);
  
  float: right;
}

h1 {
  margin: 0;
  padding: 1.2rem 0;
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: var(--main-text-color);
  text-decoration: none;
}

@media (max-width: 319px) {

  body {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
  }

  header {
    margin: 4.2rem 0;
  }

  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }

  footer {
    width: 100%;
    text-align: center;
  }

  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }

  .logo a {
    font-size: 2.4rem;
  }

  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {

  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  header {
    margin: 4.2rem 0;
  }

  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }

  footer {
    text-align: right;
  }

  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }

  .logo a {
    font-size: 2.4rem;
  }

  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {

  :root {
    --content-width: min(100vw, 90rem);
    --left-nav-width: 12rem;
    --left-nav-margin-right: 2rem;
  }

  body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    /* justify-content: space-between; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #top-container {
    margin-top: 4rem;
    display: inline-flex;
    width: min(100%, 1000px);
  }

  header {
    box-sizing: border-box;
    margin: 0 2rem;

    /* float: left; */
    flex: 0 0 var(--left-nav-width);
  }

  main {
    /* padding-right: 2rem; */
    box-sizing: border-box;
    /* float: right; */
    display: inline-block;
    flex-grow: 1;
    margin-right: 2rem;
    /* border-left: 0.2rem solid var(--highlight-text-color); */
  }

  nav {
    display: block;
    /* float: left; */
    /* margin: 2rem 0; */
    padding: 0 1.2rem;
    text-align: left;
  }

  nav div {
    padding: 1.2rem 0;
    border-top: 0.1rem solid var(--subtle-text-color);
    border-bottom: 0.1rem solid var(--subtle-text-color);
  }

  nav a {
    padding: 1rem 0;
    margin: 0;
    display: block;
  }

  footer {
    margin-right: 2rem;
    text-align: right;
    width: min(100%, 1000px);
  }

  .logo {
    display: block;
    margin: 0;
    text-align: left;
    
    margin: 2rem 1.2rem;
  }

  .logo a {
    display: block;
    /* float: left; */
    font-size: 1.8rem;
  }
}
