@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-Regular.woff') format('woff'),
        url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-left: #292828;
    --color-header: #292828;
    --color-content: #292828;
    --color-title: #ea6962;
    --color-jake-emph: #ea6962;
    --color-jake: #d4be98;
    --color-title-link-hover: #b85651a0; 
    --color-desc: #d4be98;
    --color-date: #d8a657;
    --color-header-link: #d4be98;
    --color-header-link-hover: #928374;
    --color-left-link: #d4be98;
    --color-left-link-hover: #928374;
    --color-photo-filter: #6b5d4633;
}

html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Everything Else */
}

body {
        background-color: var(--color-content);
        font-family:JetBrainsMono, 'Courier New', Courier, monospace;
        color: var(--color-desc);
        display: inline-block;
    }

ul {
    margin: 0;
}

header {
    margin: 0;
    background-color: var(--color-header);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 60px;
}

.tab {
    padding-left: 2em;
}

.left-link {
    color: var(--color-left-link);
    text-decoration: none;
    cursor: pointer;
}

.left-link:hover {
    color: var(--color-left-link-hover);       
}

.header-link {
    color: var(--color-header-link);
    text-decoration: none;
    cursor: pointer;
}

.header-link:hover {
    color: var(--color-header-link-hover);
}

#header-right {
    width: 390px;
    margin: auto;
    height: 100%;
}

.header-right {
    line-height: 60px;
    text-align: center;

    display: inline-block;
    padding-left: min(40px, 10vw);

    width: auto;
    height: 84px;
}

.left {
    position: relative;

    height: 450px;
    width: 100%;
    z-index: 0;
    background-color: var(--color-left);
}

#left-top {
    padding-left: 0px;
    position: absolute;
    /* text-align: left; */
    width: 1000px;
    bottom: 525px;
    left: -430px;
    transform: rotate(90deg);
    display: inline-block;
}

.jake {
    color: var(--color-jake);
    cursor: pointer;
}

.jake:hover {
    color: var(--color-header-link-hover)
}


#emph-jake {
    color: var(--color-jake-emph);
    cursor: pointer;
}

#emph-jake:hover {
    color: var(--color-header-link-hover);
}

#left-bottom {
    position: absolute;
    width: auto;
    top: 100px;
    left: min(180px, 42vw);
}

.left-bottom {
    margin-top: 5px;
}

#circle {
    width: 180px;
    height: 180px;
    left: 200px;
    margin-bottom: 12px;
    background-color: var(--color-left);
    border-radius: 50%;

    background-image: url("images/ME.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: 180px;

}

#photo {
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    background-color: var(--color-photo-filter);
    border-radius: 50%;
}

html:not([data-scroll='0']) header {
    /* background-color: #d4be98; */
    -webkit-box-shadow: 0px -18px 5px 17px #00000080;
    -moz-box-shadow: 0px -18px 5px 17px #00000080;
    box-shadow: 0px -18px 5px 17px #00000080;
}

#content {
    margin-top: 10px;
    margin-left: 0px;
    padding: 30px 5vw 0px 5vw;
    overflow: auto;

    z-index: 10;
}

.entry-title {
    font-weight: bold;
    color: var(--color-title);
}

.entry-content {
    margin-top: 0px;
    margin-left: 20px;
    text-decoration: none;
}

.entry-content a{
    text-decoration: none;
    color: var(--color-title);
}

.entry-date {
    color: var(--color-date);
    margin-bottom: 30px;
    margin-left: 40px;
}

.entry-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-title);
    cursor: pointer;
}

.entry-link:hover {
    color: var(--color-title-link-hover);
    
}

.entry-desc {
    margin-top: 0px;
    margin-bottom: 60px;
}

.after-page-space {
    height: 180px;
}

@media only screen and (min-width: 800px) {
    header {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 0;

        width: 100%;
        height: 84px;
    }

    #header-right {
        float: right;
        margin: 0;
        width: 400px;
        height: 100%;
        /* display: inline-block; */
    }

    .header-right {
        line-height: 84px;
        text-align: center;
        padding-left: auto;

        display: inline-block;

        width: auto;
        height: 84px;


    }

    .left {
        position: fixed;

        text-align: center;

        top: 0;
        left: 0;
        height: 100vh;
        width: 300px;
        z-index: 1;
    }

    #left-top {
        bottom: 770px;
        display: inline-block;
    }

    #left-bottom {
        position: absolute;
        width: 99%;
        bottom: 32px;
        left:auto;
        top: auto;
        margin: auto;
    }

    #circle {
        width: 180px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
        background-color: var(--color-left);
        border-radius: 50%;

        background-image: url("images/ME.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        background-size: 180px;

    }
    
    #content {
        margin-top: 84px;
        margin-left: 280px;
        padding: 100px 30px 0px 40px;
        overflow: auto;

        z-index: 10;
    }

    .entry-content {
        margin-top: 0px;
        margin-left: 40px;
        text-align: left;
    }

    .entry-date {
        color: var(--color-date);
        margin-bottom: 30px;
        margin-left: 40px;
    }

    .entry-link {
        text-decoration: none;
        font-weight: bold;
        color: var(--color-title);
        cursor: pointer;
    }

    .entry-link:hover {
        color: var(--color-title-link-hover);
        
    }

    .entry-desc {
        margin-top: 0px;
        margin-bottom: 60px;
    }
}

@media only screen and (min-width: 1300px) {
    
    #content {
        margin-top: 84px;
        margin-left: 280px;
        padding: 100px 20vw 0px 10vw;
        overflow: auto;

        z-index: 10;
    }
}
