---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<body>
		<main class="flex flex-col h-full">

			<h1 class="text-5xl md:text-6xl">Hello!</h1>
			<h2>I'm Jake,</h2>
			<p> and I'm a Computer Science undergrad currently interested in graphics programming, assembly, and compilers.</p>

			<p>
				I've messed around with plenty of tools in the past, but currently I've been doing a lot of work with <span class="font-bold">Python</span> and <span class="font-bold">C++</span>. 
				I've also been intrigued with making a <a href="https://github.com/jakehffn/NoEngine">game/game-engine</a>, and have been building out some features of one as I've been learning <span class="font-bold">OpenGL</span> and the lovely entity-component-system library <a href="https://github.com/skypjack/entt">EnTT</a>.
			</p>
			
			<p>If you're interested, take a look at some of the odds and ends I've built for the web <a href="https://projects.jakethoffman.com">here</a>. Sometimes I am looking to make a quick mock-up of something I thought of, or just want to see how something will look. Regardless, I thought it might be nicer to throw it up on a separate page so others can see as well.</p>
			
			<p class="mb-0">Connect with me on <a href="https://www.linkedin.com/in/jake-t-hoffman/" target="_blank">LinkedIn</a> if you're interested in working together; or email me at <a href="mailto: contact@jakehoffman.dev"><code>contact@jakehoffman.dev</code></a>.</p>
			<div class="w-full flex flex-col md:flex-row lg:flex-col xl:flex-row mt-8 justify-around">
				<a class="w-full md:w-1/2 lg:w-full xl:w-1/2 sm:px-12 md:px-0 md:pr-4 lg:pr-0 mb-6 md:mb-0 lg:mb-4 xl:mb-0" href="">
					<div class="w-full p-2 rounded-lg border-2 border-main-subtle animate-pulse">
						<div class="flex w-full justify-between">
							<div class="h-4 rounded-2xl basis-2/3 bg-main-subtle m-2"></div>
							<div class="h-4 rounded-2xl basis-1/12 bg-main-subtle m-2"></div>
						</div>
						<div class="flex w-full">
							<div class="h-2 rounded-2xl grow bg-main-subtle my-2 mx-4"></div>
							<div class="h-2 rounded-2xl basis-4/6 bg-main-subtle my-2 mx-4 mr-6"></div>
						</div>
						<div class="flex w-full">
							<div class="h-2 rounded-2xl grow bg-main-subtle my-2 mx-4"></div>
							<div class="h-2 rounded-2xl basis-2/6 bg-main-subtle my-2 mx-4 mr-12"></div>
						</div>
					</div>
				</a>
				<a class="w-full md:w-1/2 lg:w-full xl:w-1/2 sm:px-12 md:px-0 md:pl-4 lg:pl-0 xl:p-0 xl:pl-4" href="">
					<div class="w-full p-2 rounded-lg border-2 border-main-subtle animate-pulse">
						<div class="flex w-full justify-between">
							<div class="h-4 rounded-2xl basis-2/3 bg-main-subtle m-2"></div>
							<div class="h-4 rounded-2xl basis-1/12 bg-main-subtle m-2"></div>
						</div>
						<div class="flex w-full">
							<div class="h-2 rounded-2xl grow bg-main-subtle my-2 mx-4"></div>
							<div class="h-2 rounded-2xl basis-4/6 bg-main-subtle my-2 mx-4 mr-6"></div>
						</div>
						<div class="flex w-full">
							<div class="h-2 rounded-2xl grow bg-main-subtle my-2 mx-4"></div>
							<div class="h-2 rounded-2xl basis-2/6 bg-main-subtle my-2 mx-4 mr-12"></div>
						</div>
					</div>
				</a>
			</div>
		</main>
	</body>
</BaseLayout>

