---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getCollection } from 'astro:content';
import TagList from '../components/TagList.astro';
import PostList from '../components/PostList.astro';

const posts = (await getCollection('posts')).filter((post) => !post.data.draft).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const tags = [... new Set((posts.map((post) => ((post.data.tags || '').split(',').map((tag) => tag.trim())))).flat())].sort()
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<body>
		<main class="flex flex-col h-full">

			<!-- <h1 class="text-5xl md:text-6xl">Hello!</h1> -->
			<p>Welcome to my web page. My name is Jake Hoffman and I am a software engineer.</p>

			<p>
				I am interested in low-level programming, graphics, and game design, and am a big fan of the C++ library <a href="https://github.com/skypjack/entt">EnTT</a>. 
				If you're interested, some of my work can be found on my <a href="https://github.com/jakehffn">GitHub profile</a>.</p>
			
			<p class="mb-0"> Feel free to email me at <a href="mailto: jakehffn@gmail.com"><code>jakehffn@gmail.com</code></a>.</p>
			<div class="pb-8 border-b mb-4"></div>
			<TagList tags={tags} />
			<PostList posts={posts} />
		</main>
	</body>
</BaseLayout>

