---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<body>
		<main class="flex flex-col  h-full">

			<h1 class="text-5xl md:text-6xl">Hello!</h1>
			<h2>I'm Jake,</h2>
			<p> and I'm a Computer Science undergrad currently interested in graphics programming, assembly, and compilers.</p>

			<p>
				I've messed around with plenty of tools in the past, but currently I've been doing a lot of work with <span class="font-bold">Python</span> and <span class="font-bold">C++</span>. 
				I've also been intrigued with making a <a href="https://github.com/jakehffn/UntitledRPG">game/game-engine</a>, and have been building out some features of one as I've been learning <span class="font-bold">OpenGL</span> and the lovely entity-component-system library <a href="https://github.com/skypjack/entt">EnTT</a>.
			</p>
			
			<p>If you're interested, take a look at some of the odds and ends I've built for the web <a href="https://projects.jakethoffman.com">here</a>. Sometimes I am looking to make a quick mock-up of something I thought of, or just want to see how something will look. Regardless, I thought it might be nicer to throw it up on a separate page so others can see as well.</p>
			
			<p class="mb-0">Connect with me on <a href="https://www.linkedin.com/in/jake-t-hoffman/" target="_blank">LinkedIn</a> if you're interested in working together; or email me at <a href="mailto: contact@jakehoffman.dev"><code>contact@jakehoffman.dev</code></a>.</p>
		</main>
	</body>
</BaseLayout>

