
<footer>
    <div class="italic flex flex-row w-full justify-center text-main-code-bg selection:text-main-text selection:bg-main-subtle">
        <span class="whitespace-nowrap">Find me</span>
        <a href="https://github.com/jakehffn" class="font-bold px-1 hover:text-main-subtle-hover">@GitHub</a>
        and
        <a href="https://www.linkedin.com/in/jake-t-hoffman/" class="font-bold px-1 hover:text-main-subtle-hover">@LinkedIn</a>
    </div>
</footer>