---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="w-full lg:w-1/6 xl:w-[12.5%] pb-4 select-none">
	<div class="flex items-center text-4xl lg:text-2xl lg:pb-2">
		<h2 class="italic font-bold pr-2 !pb-0">
			{SITE_TITLE}
		</h2>
		<!-- <div class="bg-main-accent w-5 h-12 ml-2"></div> -->
	</div>
	<nav class="flex flex-row lg:flex-col">
		<HeaderLink href="/" class="pr-4 pt-2 hover:text-main-text-hover">About</HeaderLink>
		<HeaderLink href="/posts" class="pr-4 pt-2 hover:text-main-text-hover">Posts</HeaderLink>
	</nav>
</header>
