---
import { CollectionEntry, getCollection } from 'astro:content';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

const posts = (await getCollection('posts')).filter((post) => !post.data.draft).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const mostRecentDate = (posts.pop()?.data.pubDate.getTime().toString() || "none");
---

<header class="w-full pb-2 select-none">
	<div class="flex items-center text-4xl lg:text-2xl">
		<a href="/">
			<h2 class="italic font-bold pr-2 !pb-0">
				{SITE_TITLE}
			</h2>
		</a>
	</div>
</header>
