<div class="w-full p-2 animate-pulse">
    <div class="flex w-full justify-between">
        <div class="h-4 rounded-2xl basis-2/3 bg-main-subtle m-2"></div>
        <div class="h-4 rounded-2xl basis-1/12 bg-main-subtle m-2"></div>
    </div>
    <div class="flex w-full">
        <div class="h-2 rounded-2xl grow bg-main-subtle my-2 mx-4"></div>
        <div class="h-2 rounded-2xl basis-4/6 bg-main-subtle my-2 mx-4 mr-6"></div>
    </div>
    <div class="flex w-full">
        <div class="h-2 rounded-2xl grow bg-main-subtle my-2 mx-4"></div>
        <div class="h-2 rounded-2xl basis-2/6 bg-main-subtle my-2 mx-4 mr-12"></div>
    </div>
</div>