---
import LoadingRepo from '../components/LoadingRepo.astro';
---
<div>
    <div class="w-full flex flex-col md:flex-row lg:flex-col xl:flex-row mt-8 justify-around" id="loading-pin">
        <a class="py-2 md:w-1/2 lg:w-full xl:w-1/2 sm:mx-12 md:mx-0 md:mr-4 lg:mr-0 mb-6 md:mb-0 lg:mb-4 xl:mb-0 rounded-lg border-2 border-main-subtle" href="">
            <LoadingRepo/>
        </a>
        <a class="py-2 md:w-1/2 lg:w-full xl:w-1/2 sm:mx-12 md:mx-0 md:ml-4 lg:ml-0 xl:m-0 xl:ml-4 rounded-lg border-2 border-main-subtle" href="">
            <LoadingRepo/>
        </a>
    </div>

    <div class="w-full flex flex-col items-stretch md:flex-row lg:flex-col xl:flex-row mt-8 justify-around hidden" id="loaded-pin">
        <a class="md:w-1/2 lg:w-full xl:w-1/2 sm:mx-12 md:mx-0 md:mr-4 lg:mr-0 mb-6 md:mb-0 lg:mb-4 xl:mb-0 rounded-lg bg-main-code-bg hover:bg-main-subtle-hover" id="repo-url-1" href="">
            <div class="w-full px-2 py-1">
                <div class="flex w-full justify-between">
                    <div class="flex items-center">
                        <div class="basis-1/3 m-2 font-bold whitespace-nowrap text-lg" id="repo-title-1"></div>
                        <div class="rounded-2xl px-2 basis-1/3 m-2 font-mono text-sm" id="repo-lang-1"></div>
                    </div>
                    <div class="flex items-center">
                        <code class="basis-1/12 m-2 font-mono text-sm" id="repo-stars-1"></code>
                        <svg aria-hidden="true" height="18" viewBox="0 0 16 16" version="1.1" width="18" data-view-component="true" class="fill-main-text">
                            <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Z"></path>
                        </svg>
                    </div>
                </div>
                <div class="flex w-full">
                    <div class="grow mx-2 mb-2" id="repo-desc-1"></div>
                </div>
            </div>
        </a>
        <a class="md:w-1/2 lg:w-full xl:w-1/2 sm:mx-12 md:mx-0 md:ml-4 lg:ml-0 xl:m-0 xl:ml-4 rounded-lg bg-main-code-bg hover:bg-main-subtle-hover" id="repo-url-2" href="">
            <div class="w-full px-2 py-1">
                <div class="flex w-full justify-between">
                    <div class="flex items-center">
                        <div class="basis-1/3 m-2 font-bold whitespace-nowrap  text-lg" id="repo-title-2"></div>
                        <div class="rounded-2xl px-2 font-mono basis-1/3 m-2 text-sm" id="repo-lang-2"></div>
                    </div>
                    <div class="flex items-center align-center">
                        <code class="basis-1/12 m-2 font-mono text-sm" id="repo-stars-2"></code>
                        <svg aria-hidden="true" height="18" viewBox="0 0 16 16" version="1.1" width="18" data-view-component="true" class="fill-main-text">
                            <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Z"></path>
                        </svg>
                    </div>
                </div>
                <div class="flex w-full">
                    <div class="grow mx-2 mb-2" id="repo-desc-2"></div>
                </div>
            </div>
        </a>
    </div>

    <script is:raw>

        const loadingPin = document.getElementById("loading-pin");
        const loadedPin = document.getElementById("loaded-pin");

        const pinUrl1 = document.getElementById("repo-url-1");
        const pinTitle1 = document.getElementById("repo-title-1");
        const pinLang1 = document.getElementById("repo-lang-1");
        const pinStars1 = document.getElementById("repo-stars-1");
        const pinDesc1 = document.getElementById("repo-desc-1");
        
        const pinUrl2 = document.getElementById("repo-url-2");
        const pinTitle2 = document.getElementById("repo-title-2");
        const pinLang2 = document.getElementById("repo-lang-2");
        const pinStars2 = document.getElementById("repo-stars-2");
        const pinDesc2 = document.getElementById("repo-desc-2");
        
        fetch("https://gh-pinned-repos.egoist.dev/?username=jakehffn").then((value) => {
            
            value.json().then((jsonValue) => {

                console.log(jsonValue);
                
                pinUrl1.href = jsonValue[0].link
                pinTitle1.innerText = jsonValue[0].repo
                pinLang1.innerText = jsonValue[0].language
                pinLang1.style.backgroundColor = jsonValue[0].languageColor
                pinStars1.innerText = jsonValue[0].stars
                pinDesc1.innerText = jsonValue[0].description
                
                pinUrl2.href = jsonValue[1].link
                pinTitle2.innerText = jsonValue[1].repo
                pinLang2.innerText = jsonValue[1].language
                pinLang2.style.backgroundColor = jsonValue[1].languageColor
                pinStars2.innerText = jsonValue[1].stars
                pinDesc2.innerText = jsonValue[1].description

                loadingPin.style.display = "none";
                loadedPin.style.display = "flex";
            });
        });

    </script>
</div>