---
import { any } from "astro/zod";
import FormattedDate from "./FormattedDate.astro";

interface Props {
    posts: any;
}

const { posts } = Astro.props;
---
<ul class="grid grid-cols-[max-content_max-content]">
    {
        posts.map((post) => (
            <span class="italic pr-8"><FormattedDate date={post.data.pubDate}/></span>
            <a href={`/blog/${post.slug}/`} class="underline">{post.data.title}</a>
        ))
    }
</ul>