<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Hakyll Blog - $title$</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body>
        <div id="top-container">
        <header>
            <div class="logo">
                <a href="/">@jakehffn</a>
            </div>
            <nav>
                <div>
                    <!-- <a href="/">Home</a> -->
                    <a href="/about.html">About</a>
                    <a href="/archive.html">Blog</a>
                    <a href="/contact.html">Contact</a>
                </div>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>
        </div>

        <footer>
            <a href="Github.com" class="social-link">@GitHub</a>
            <a href="twitter.com" class="social-link">@Twitter</a>
            <a href="linked.in" class="social-link">@LinkedIn</a>
        </footer>
    </body>
</html>